Flows_IBM AUTO AI.json
[{"id":"52d887ad.ee83e8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6d2465e8.29fd4c","type":"ui_form","z":"52d887ad.ee83e8","name":"","label":"","group":"39cc97b1.640f88","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Country","value":"u","type":"text","required":true,"rows":null},{"label":"Status","value":"b","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"f","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"g","type":"number","required":true,"rows":null},{"label":"Measles ","value":"h","type":"number","required":true,"rows":null},{"label":"BMI","value":"i","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"j","type":"number","required":true,"rows":null},{"label":"Polio","value":"k","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"l","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"m","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"q","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"r","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"s","type":"number","required":true,"rows":null},{"label":"Schooling","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","u":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":140,"wires":[["3bbb6409.5377dc"]]},{"id":"3bbb6409.5377dc","type":"function","z":"52d887ad.ee83e8","name":"pre token","func":"//make user given values as global variables\n\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"u\",msg.payload.u);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n\n//following are required to receive a token\nvar apikey=\"ZMaLapFQIccgyrvgeY06GHvKpWCa1l87ajLtoO0sbVQo\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":140,"wires":[["fe0153f7.8a4a8"]]},{"id":"33b8a4cb.1b641c","type":"http request","z":"52d887ad.ee83e8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/a3eec5af-5781-4d87-808f-d867a134c351/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":490,"y":140,"wires":[["49eee87d.e30388","4c149e8a.33ffe"]]},{"id":"3b6c3467.a4751c","type":"debug","z":"52d887ad.ee83e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":160,"wires":[]},{"id":"4c149e8a.33ffe","type":"function","z":"52d887ad.ee83e8","name":"getFrom Endpoint","func":"msg.payload = msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":220,"wires":[["3b6c3467.a4751c","c64362e9.0da5e"]]},{"id":"49eee87d.e30388","type":"debug","z":"52d887ad.ee83e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":40,"wires":[]},{"id":"4c2b9c94.57a574","type":"function","z":"52d887ad.ee83e8","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"f65defd1-5f6c-4164-a5f1-a27cbd6c296f\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\n\n\nvar a = global.get(\"a\");\nvar u = global.get(\"u\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\n\n//send the user values to service endpoint\nmsg.payload = \n{\"input_data\":[{\"fields\":['Year','Country', 'Status', 'Adult Mortality', 'infant deaths', 'Alcohol',\n       'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',\n       ' HIV/AIDS', 'GDP', 'Population',' thinness  1-19 years', ' thinness 5-9 years',\n       'Income composition of resources', 'Schooling'],\n\"values\":[[a,u,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]}]};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":240,"wires":[["33b8a4cb.1b641c"]]},{"id":"fe0153f7.8a4a8","type":"http request","z":"52d887ad.ee83e8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":130,"y":240,"wires":[["4c2b9c94.57a574"]]},{"id":"c64362e9.0da5e","type":"ui_text","z":"52d887ad.ee83e8","group":"39cc97b1.640f88","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":300,"wires":[]},{"id":"39cc97b1.640f88","type":"ui_group","z":"","name":"Default","tab":"c2879d4f.eb6ca","order":1,"disp":true,"width":"6","collapse":false},{"id":"c2879d4f.eb6ca","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]