Flows_using Python.json
[{"id":"5c9dc27c.669d7c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c7804a79.cef9d8","type":"ui_form","z":"5c9dc27c.669d7c","name":"","label":"","group":"39cc97b1.640f88","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Status","value":"b","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"f","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"g","type":"number","required":true,"rows":null},{"label":"Measles ","value":"h","type":"number","required":true,"rows":null},{"label":"BMI","value":"i","type":"number","required":false,"rows":null},{"label":"under-five deaths ","value":"j","type":"number","required":true,"rows":null},{"label":"Polio","value":"k","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"l","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"m","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"q","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"r","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"s","type":"number","required":true,"rows":null},{"label":"Schooling","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":140,"wires":[["7e6a3af7.5d74a4"]]},{"id":"7e6a3af7.5d74a4","type":"function","z":"5c9dc27c.669d7c","name":"pre token","func":"//make user given values as global variables\n\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n\n//following are required to receive a token\nvar apikey=\"ZMaLapFQIccgyrvgeY06GHvKpWCa1l87ajLtoO0sbVQo\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":140,"wires":[["308ce69a.50bdca"]]},{"id":"acef602a.5da93","type":"http request","z":"5c9dc27c.669d7c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/f65defd1-5f6c-4164-a5f1-a27cbd6c296f/deployments/982db8f8-7a6e-48df-a51e-993f6597728b/online","tls":"","persist":false,"proxy":"","authType":"basic","x":490,"y":140,"wires":[["ad535692.28cb18","dfdc3a92.ce2408"]]},{"id":"3a6411d2.87e0ae","type":"debug","z":"5c9dc27c.669d7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":160,"wires":[]},{"id":"dfdc3a92.ce2408","type":"function","z":"5c9dc27c.669d7c","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":220,"wires":[["3a6411d2.87e0ae","d4fe7c6b.06846"]]},{"id":"ad535692.28cb18","type":"debug","z":"5c9dc27c.669d7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":40,"wires":[]},{"id":"d11f2b47.4fdd28","type":"function","z":"5c9dc27c.669d7c","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"f65defd1-5f6c-4164-a5f1-a27cbd6c296f\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\n\n\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['Year', 'Status', 'Adult Mortality', 'infant deaths', 'Alcohol',\n       'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',\n       ' HIV/AIDS', 'GDP', 'Population',' thinness  1-19 years', ' thinness 5-9 years',\n       'Income composition of resources', 'Schooling'],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":240,"wires":[["acef602a.5da93"]]},{"id":"308ce69a.50bdca","type":"http request","z":"5c9dc27c.669d7c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":130,"y":240,"wires":[["d11f2b47.4fdd28"]]},{"id":"d4fe7c6b.06846","type":"ui_text","z":"5c9dc27c.669d7c","group":"39cc97b1.640f88","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":300,"wires":[]},{"id":"39cc97b1.640f88","type":"ui_group","z":"","name":"Default","tab":"c2879d4f.eb6ca","order":1,"disp":true,"width":"6","collapse":false},{"id":"c2879d4f.eb6ca","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]